@font-face {
  font-family: "IBM";
  src: url("assets/fonts/IBMPlexSansArabic-Bold.ttf");
}
/* ------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
:root {
  --bg-color: #101010;
  --tx-color: #fff;
  --main-color: #ecc243;
  --sac-color: #5e452b;
}
body {
  font-family: IBM;
  background-color: var(--bg-color);
  color: var(--tx-color);
  overflow-x: hidden;
}
a {
  color: var(--tx-color);
  text-decoration: none;
}
span {
  color: var(--main-color);
}
section {
  overflow-x: hidden;
}
.power {
  font-size: 15px;
}
#preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transform: translateY(0px);
  z-index: 1000;
  border-radius: 0 0 100px 100px;
  transition: 0.7s;
}
#preloader img {
  animation: preload 1s infinite;
}
@keyframes preload {
  0% {
    transform: scale(0.7);
    transform: rotate(15deg);
  }
  50% {
    transform: scale(1);
    transform: rotate(-20deg);
  }
  100% {
    transform: scale(0.7);
    transform: rotate(15deg);
  }
}
#preloader a {
  position: absolute;
  bottom: 30px;
  right: 41%;
}
.mainbut {
  background-color: var(--main-color);
  color: var(--sac-color);
  padding: 10px 50px;
  font-size: 25px;
  border-radius: 100px;
  margin: 50px 50px;
  font-family: "IBM";
  border: none;
  cursor: pointer;
}
.mainbut:hover {
  background-color: var(--tx-color);
  color: var(--main-color);
  padding: 10px 50px;
  font-size: 25px;
  border-radius: 100px;
  margin: 50px 50px;
}
/* -------------------- header -------------------- */
header {
  padding: 10px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  overflow-x: hidden;
}
header .logo img {
  width: 150px;
  opacity: 1;
  margin: 0 10px;
  transition: 0.5s;
}
header .logo img:hover {
  transform: rotate(15deg);
}
header .but {
  display: flex;
  color: var(--sac-color);
  background-color: var(--main-color);
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 25px;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
header .icon {
  background-color: var(--sac-color);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
header .icon img {
  width: 70%;
}
header .but:hover {
  background-color: var(--tx-color);
  color: var(--main-color);
}
header .but:hover .icon {
  background-color: var(--main-color);
}
header .but:hover img {
  filter: brightness(5000%);
}

@media (max-width: 500px) {
  header .logo img {
    width: 120px;
  }
  header .but {
    font-size: 20px;
    padding: 3px 5px;
  }
  header .icon img {
    width: 60%;
  }
}
/* section one */
.secone {
  padding: 20px 3%;
}
/* puppels */
.secone .back img {
  z-index: -3;
  position: absolute;
  width: 100px;
  animation: move-up6 2.5s ease-in infinite alternate-reverse;
}
.secone .back img:nth-child(1) {
  width: 108px;
  right: 1%;
  animation-name: move-down1;
}
.secone .back img:nth-child(2) {
  width: 111px;
  left: 10%;
  bottom: -3%;
}
.secone .back img:nth-child(3) {
  width: 85px;
  bottom: 10%;
  right: 10%;
}
.secone .back img:nth-child(4) {
  width: 60px;
  left: 1%;
  top: 37%;
  animation-name: move-down2;
}
@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}
@keyframes move-down2 {
  to {
    transform: translateY(30px);
  }
}
@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}
/* top style for main sec */
.secone {
  height: 100vh;
}
.secone .top {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.prandname {
  position: absolute;
  top: 0px;
  width: 600px;
  z-index: 11;
}
.secone .mainbut {
  position: absolute;
  top: 350px;
  width: 200px;
  z-index: 21;
}
.secone .kerep {
  position: absolute;
  top: 45px;
  z-index: 10;
  width: 90%;
  max-width: 600px;
}
.secone .kings {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secone .kings img {
  top: 220px;
  position: absolute;
  width: 90%;
  max-width: 800px;
}
.secone .kings .b {
  z-index: 20;
}

.top .gradian {
  position: absolute; /* تحديد الموضع بالنسبة للقسم */
  width: 101%; /* تغطية العرض مع زيادة بسيطة */
  top: 70px; /* موضع أعلى */
  bottom: -20px; /* موضع أسفل */
  left: 0px; /* محاذاة إلى اليسار */
  background: linear-gradient(
    0deg,
    var(--bg-color) 10%,
    #00000000 60%,
    #00000000 100%
  ); /* إضافة تدرج */
  z-index: 15; /* تحديد ترتيب الطبقات */
}

@media (max-width: 500px) {
  .secone .kerep {
    width: 160%;
  }
  .secone .kings img {
    width: 100%;
  }
  .secone .mainbut {
    top: 300px;
  }
}

/* ---------------- section scroll products ---------------- */
.logoframe {
  scrollbar-width: none;
}
.scrollprod {
  overflow-x: hidden;
}
.scrollprod .logoframe {
  height: 450px;
  position: absolute;
  right: -220px;
  z-index: -1;
}
.newproducts .logoframe {
  height: 450px;
  position: absolute;
  left: -220px;
  z-index: -1;
}
.logoframe::-webkit-scrollbar {
  display: none;
}
.bar {
  overflow-x: hidden;
}
.scrollprod .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 10%;
  text-align: right;
  z-index: 2;
}
.scrollprod .top .mainbut {
  transform: scale(0.8);
}
.newproducts .top .mainbut {
  box-shadow: 1px 3px 1px var(--bg-color);
}
.scrollprod .top h2 {
  text-shadow: 1px 3px 1px var(--bg-color);
}
.scrollprod .top h3 {
  color: var(--sac-color);
}
/* products */
.scrollprod .products {
  display: flex;
  overflow-x: scroll;
  margin: 0px 20px;
  margin-right: 0px;
  text-align: center;
  border-radius: 10px;
  scrollbar-width: none;
}
.scrollprod .products::-webkit-scrollbar {
  display: none;
}
.scrollprod .product {
  cursor: pointer;
  display: flex;
  padding: 15px;
  width: 230px;
  margin: 0 10px;
  border-radius: 30px;
  flex-direction: column;
  background-color: var(--sac-color);
}
.scrollprod .product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.scrollprod .product:hover {
  transform: scale(0.95);
}

/* ----------------------------- footer --------------------------- */
footer {
  height: 300px;
  margin: 20px;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
footer .prandname {
  transform: scale(0.7);
  margin-bottom: -30px;
}
footer .links img {
  width: 35px;
}
/* ----------------------------- product padge --------------------------- */
.oneproduct .product {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oneproduct .product img {
  width: 100%;
  max-width: 350px;
  margin-bottom: -20px;
  border-radius: 20px;
}
.oneproduct .product .detals {
  padding: 50px;
  text-align: center;
  min-width: 300px;
}
.oneproduct .product .detals #product-description {
  color: var(--sac-color);
}
.oneproduct .product .detals .mainbut {
  font-size: 20px;
  margin: 15px 0;
}
@media (max-width: 770px) {
  .oneproduct .product {
    flex-direction: column;
  }
  .oneproduct .product img {
    width: 80%;
  }
}

/* ------------------------------------- cart style ------------------------------------- */
.cart-container {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 50px;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--sac-color);
  padding-bottom: 20px;
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 20px;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 5px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.cart-container .mainbut{
  font-size: 15px;
  padding: 5px 12px;
  margin: 5px;
}

.cart-total {
  font-size: 1.5rem;
  margin-top: 20px;
}

#checkout-button {
  font-size: 20px;
  padding: 10px 70px;
  display: flex;
  margin: 10px auto;
}

.checkout-button:hover {
  background-color: #45a049;
}

#customer-info-form {
  display: none; /* إخفاء النموذج في البداية */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  
}