@font-face {
  font-family: IBM;
  src: url("assets/fonts/IBMPlexSansArabic-Bold.ttf");
}
/* ------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
:root {
  --bg-color: #101010;
  --tx-color: #fff;
  --main-color: #ecc243;
  --sac-color: #5e452b;
}
body {
  font-family: IBM;
  background-color: var(--bg-color);
  color: var(--tx-color);
  overflow-x: hidden;
}
a {
  color: var(--tx-color);
  text-decoration: none;
}
span {
  color: var(--main-color);
}
.power {
  color: var(--sac-color);
  font-weight: 100;
  font-size: 15px;
}
#preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transform: translateY(0px);
  z-index: 1000;
  border-radius: 0 0 100px 100px;
}
#preloader img {
  animation: preload 1s infinite;
}
@keyframes preload {
  0% {
    transform: scale(0.7);
    transform: rotate(15deg);
  }
  50% {
    transform: scale(1);
    transform: rotate(-20deg);
  }
  100% {
    transform: scale(0.7);
    transform: rotate(15deg);
  }
}
#preloader a {
  position: absolute;
  bottom: 30px;
  right: 41%;
}
/* header */
header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
header .logo img {
  width: 150px;
}
header .logo img:hover {
  width: 150px;
  transform: rotate(15deg);
}
header .links a {
  padding: 10px;
}
header .links .activ,
header .links a:hover {
  position: relative;
  padding: 10px 20px;
  color: var(--main-color);
}
/* section one */
.secone {
  padding: 20px 30px;
}
.secone .top {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.secone .top .texts {
  margin-top: 20px;
  width: 300px;
  text-align: center;
}
.prandname {
  font-size: 150%;
}
.prandname img {
  position: relative;
  top: -20px;
  width: 70%;
}
.secone .top .texts .hotline h1 {
  color: var(--main-color);
  font-size: 25px;
  cursor: pointer;
}
.secone .top .texts h2 {
  z-index: 55;
}
.secone .top .texts .hotline {
  padding-right: 10px;
  transition: 0.5s;
}
.secone .top .texts .hotline img {
  opacity: 0;
  position: absolute;
  top: 400px;
  right: 70px;
  width: 200px;
  z-index: -1;
  cursor: pointer;
}
.secone .top .texts .hotline img:hover {
  opacity: 1;
}

.secone .top .imgs {
  height: 300px;
  max-width: 300px;
  margin: 0 20px;
  overflow-y: hidden;
}
.secone .top .imgs img {
  width: 90%;
  padding: 20px 0;
}
.buttom {
  display: flex;
  justify-content: center;
}

.mainbut {
  background-color: var(--main-color);
  color: var(--sac-color);
  padding: 10px 50px;
  font-size: 25px;
  border-radius: 100px;
  margin: 50px 50px;
}
.mainbut:hover {
  background-color: var(--tx-color);
  color: var(--main-color);
  padding: 10px 50px;
  font-size: 25px;
  border-radius: 100px;
  margin: 50px 50px;
}

/* ---------------- section scroll products ---------------- */
.scrollprod .logoframe {
  height: 80%;
  position: absolute;
  right: -220px;
  z-index: -1;
}
.newproducts .logoframe {
  height: 80%;
  position: absolute;
  left: -220px;
  z-index: -1;
}

.scrollprod .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 10%;
  text-align: right;
  z-index: 2;
}
.scrollprod .top .mainbut {
  transform: scale(0.8);
}
.newproducts .top .mainbut {
  box-shadow: 1px 3px 1px var(--bg-color);
}
.scrollprod .top h2 {
  text-shadow: 1px 3px 1px var(--bg-color);
}
.scrollprod .top h3 {
  color: var(--sac-color);
}
/* products */
.scrollprod .products {
  overflow-x: scroll;
  margin: 10px 20px;
  text-align: center;
}
.scrollprod .product {
  display: flex;
  padding: 15px;
  width: 230px;
  border-radius: 30px;
  flex-direction: column;
  background-color: var(--sac-color);
}
.scrollprod .product img {
  width: 200px;
  border-radius: 20px;
}

/* ----------------------------- footer --------------------------- */
footer {
  height: 300px;
  margin: 20px;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
footer .prandname {
  transform: scale(0.7);
  margin-bottom: -30px;
}
footer .links img {
  width: 35px;
}
